html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


/*May not work*/
body {
  margin-bottom: 60px;
}


.navbar-brand {
    font-size: 20px;
    word-spacing: 0px;
}


.container {
    /* background-color: yellow;*/
   /* font-size: 25px;*/
    margin-right: 20px;
    font-size: 15px;
    padding-left: 10px;
    float: inherit;
    word-spacing: 50px;
}


